@font-face {
    font-family: outfit;
    src: url("assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}

@font-face {
    font-family: young;
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}